html,body
{
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
}

.header {
  width: 100%;
  height: auto;
  background-color: #35383D;
  position: relative;
}

.home-background {
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.2)), url("../img/group.jpg");
  background-position: center;
  background-size: cover;
  height: 38rem;
}

.home-button {
  background-color: #F1BF01; /* yellow */
  border: none;
  color: black;
  padding: 10px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}
.button1 {
  border-radius: 12px;
}

.column {
  float: left;
  width: 33.33%;
  text-align: center;
  font-size: 15px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

.about-background {
  background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url("../img/about.jpg");
  background-position: center;
  background-size: cover;
  height: 20rem;
}

.join-background {
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.2)), url("../img/group.jpg");
  background-position: center;
  background-size: cover;
  height: 30rem;
}

.community-img {
  width: 100%;
}

.tech-background {
  background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)), url("../img/tech.jpg");
  background-position: center;
  background-size: cover;
  height: 25rem;
}


.pbl-logo {
  height: 4rem;
  width: auto;
}

.dropdown:hover .dropdown-menu {
  display: block;
  position: absolute;
  top: 2.2rem;
}

body {
  font-family: 'Rubik';
  font-size: 20px;
  font-weight: 300;
  /* background-color: #35383D; */
}

.larger-text {
  font-size: 32px;
  font-weight: 400;
}

.huge-text {
  font-size: 48px;
  font-weight: 500;
}

.shift-1-down {
  position: relative;
  top: 1rem;
}

.shift-less-down {
  position: relative;
  top: 2rem;
}

.shift-kinda-down {
  position: relative;
  top: 3rem;
}

.shift-down {
  position: relative;
  top: 5rem;
}

.shift-more-down {
  position: relative;
  top: 10rem;
}

.spaced {
  margin-top: 2rem;
  margin-bottom: 2rem;
}
.sides {
  margin-left: 100px;
  margin-right: 100px;
}

.wider-text {
  margin-right: 3rem;
  margin-left: 3rem;
}


.circular {
  position: relative;
  width: 20rem;
  height: 20rem;
  overflow: hidden;
  border-radius: 50%;
}

.smaller-circular {
  position: relative;
  width: 18rem;
  height: 18rem;
  overflow: hidden;
  border-radius: 50%;
}

.small-circular {
  position: relative;
  width: 15rem;
  height: 15rem;
  overflow: hidden;
  border-radius: 50%;
}

.container {
  margin-top: 5rem;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.text-container {
  margin-top: 1rem;
  display: flex;
  justify-content:space-between;
}

.yellow-box {
  text-align:center;
  background-color:#F1BF01;
  width:20rem;
  height:4rem;
  line-height:4rem;
  color:white;
  margin:2rem auto;
  position:relative;
}

.shift-right {
  text-align: left;
  position: relative;
  margin-left: 13rem;
}
